<header class="body-wrapper" [ngStyle]="{ 'background-color': bgColor }">
  <nav id="header-nav">
    <div id="nav-logo">
      <a routerLink="/">
        Logo
      </a>
    </div>

    <div class="">
      <ul class="pc-navbar">
        <li>
          <a routerLink="/favourite-vids">Favourites</a>
        </li>
        <li>
          <a routerLink="/about">About</a>
        </li>
        <li>
          <a *ngIf="!userId" routerLink="/login">Login</a>
        </li>
        <li>
          <a *ngIf="!userId" routerLink="/register" class="btn btn-primary"
            >Get an Account</a
          >
        </li>

        <li>
          <a *ngIf="userId" class="btn btn-primary"
          (click)="loggout()"
            >Logout</a
          >
        </li>
      </ul>
      <a (click)="toggleMobileNav()">
        <span class="fa fa-bars fa-2x nav-icon t-white"></span>
      </a>
    </div>
  </nav>

  <!-- Mobile NavBar -->
  <nav class="mobile-nav" [ngClass]="[navDisplay]">
    <ul class="">
      <li></li>
      <li>
        <a [routerLink]="['/about']" class="ts-25"> About</a>
      </li>
      <li>
        <a [routerLink]="['/login']" *ngIf="!userId">Login</a>
      </li>
      <li>
        <a
          [routerLink]="['/register']"
          *ngIf="!userId"
          class="btn btn-primary btn-full"
          >Get an Account</a
        >
      </li>
      <li>
        <a
          *ngIf="userId"
          class="btn btn-primary btn-full"
          (click)="loggout()"
          >Logout</a
        >
      </li>
    </ul>
  </nav>
</header>
