<section class="home-banner">
    <section class="cover-banner pb-100">
      <app-header></app-header>
      <div class="grid g-col-2-slide relative body-wrapper">
        <div class="p-25 pl-0 align-self-center">
          <h1 class="ts-40 home-title">
            Show, Adventure, Lifestyle, Love
          </h1>
          <hr class="little-line" />
          <p class="p-25 ts-22">
            Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV,
            <br />
            Blu-ray players, and more.
          </p>
        </div>
        <div class="p-20">
          <div class="h-form">
           <app-login></app-login>
          </div>
        </div>
      </div>
    </section>
  </section>


  <app-search-box></app-search-box>
  <section class="video-list p-6 body-wrapper">
    <app-video-list></app-video-list>
  </section>
  