<h1 class="ts-40 home-title">
  Login
</h1>
<hr class="little-line" />

<div>
  <div *ngIf="errorMessage" class="p-15 bg-danger mb-10">
    {{ errorMessage }}
  </div>
  <label for="" class="pt-8 d-block">Email</label>
  <input type="email" class="form-field" #emailInput />
</div>
<div>
  <label for="" class="pt-8 d-block">Password</label>
  <input type="password" class="form-field" #password />
</div>
<button
  class="btn btn-primary btn-full mt-15"
  [ngClass]="btnClass"
  (click)="login()"
>
  <span *ngIf="!isLoading">LOGIN</span>
  <span *ngIf="isLoading">
    <i class="fas fa-spinner fa-spin fa-lg"></i> loading...
  </span>
</button>

<p class="p-15 t-center ts-26">
  Not yet Registered? 
  <a
    [routerLink]="['/register']"
  >
    Get an Account
  </a>
</p>