<app-header></app-header>

<section class="body-wrapper p-20">
  <app-search-box></app-search-box>
  <div *ngIf="searchResult.length > 0">
    <div class="video-heading mb-30">
      <h1>Search Result</h1>
      <hr class="little-line" />
    </div>

    <div class="grid g-col-spread-200 g-gap-4">
      <a
        *ngFor="let movie of searchResult"
        class="grid g-col-1-3 fav-list mb-4"
        [routerLink]="['/video-details', movie.id]"
      >
        <div class="fav-img" style="position: relative;">
          <img
            src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}"
            width="80" height="110"
          />
        </div>

        <div class="pl-15">
          <span class="t-white ts-28">{{ movie.title }}</span>
        </div>
      </a>
    </div>
  </div>

  <p *ngIf="searchResult.length == 0" class="bg-danger p-10 ts-23 t-center">
    No Movie your Favourite List
  </p>
</section>
