<div class="favourites">
  <div class=" mb-30">
    <h1>
      All favourites
    </h1>
    <hr class=" little-line" />
  </div>

  <div class="favourite-list">
    <div true *ngIf="favouriteMovies.length > 0; else noFav">
      <div
        *ngFor="let favVid of favouriteMovies"
        class="grid g-col-1-3 fav-list mb-4"
      >
        <div class="fav-img">
          <a [routerLink]="['/video-details', favVid.id]">
            <span class="fa fa-play-circle fa-3x fav-player-icon"></span>
          </a>
        </div>
        <div class="pl-15" >
          <a [routerLink]="['/video-details', favVid.id]">
            <span class="clear-both t-white">
              {{ favVid.title }} ({{ favVid.release_date }})
            </span>
          </a>
          <br />
          <button
            class="btn btn-success p-3 remove-btn-sm pull-right"
            (click)="removeVidFromFav(favVid.id)"
          >
            <span class="fa fa-trash"></span>
            remove
          </button>
        </div>
      </div>
    </div>

    <ng-template #noFav>
      <p class="bg-danger p-15 t-center">
        You have not added any video in your favourite list
      </p>
    </ng-template>
  </div>
</div>
